@using Contracts.Common.AppServer
@using GridMvc.Html
@model WebBar.Site.Repositories.MainShopRepository
@{
ViewBag.Title = "Сорта";
}

<div class="jumbotron">
    <nav class="navbar navbar-default navbarWhite">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Отчеты", "Index", "Home")</li>
                    <li><a href="#">Поступления</a></li>
                    <li class="active"><a href="#">Справочники</a></li>
                    <li><a href="#">Настройки</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <table>
            <tr>
                <td width="70%">
                    <nav>
                        <ul class="nav nav-pills nav-justified">
                            <li class="active"><a href="#">Сорта</a></li>
                            <li>@Html.ActionLink("Поставщики", "Producers", "References")</li>
                            <li>@Html.ActionLink("Все точки продаж", "Shops", "References")</li>
                        </ul>
                    </nav>
                </td>
                <td />
            </tr>
        </table>


        @Html.Grid(Model.GetConfigBeerTypes()).Columns(columns =>
   {
       columns.Add(c => c.Code).Titled("ID").Sanitized(false).Encoded(false);
       columns.Add(c => c.Name).Titled("Наименование").Sanitized(false).Encoded(false);
       columns.Add(c => c.ProducerName).Titled("Поставщик").Sanitized(false).Encoded(false);
       columns.Add(c => c.Id).Titled("").Sanitized(false).Encoded(false).RenderValueAs(a => EditBeerType(a.Id));
   }).WithPaging(10).Sortable(true)

        @helper EditBeerType(int idBeerType)
        {
        <div class="pull-right">
            @Html.ActionLink("Цены", "EditDrinkConfig", "References", new { drinkId = idBeerType }, null)
        </div>
}
        <div class="col-md-10">
            @Html.ActionLink("Добавить", "AddDrinkConfig", "References", null, null)
        </div>
    </div>
</div>
